.container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(52, 47, 47);
    margin: 5px;
    box-sizing: border-box;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logout{
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}